{% extends "base.html" %}
{% block content %}
<section id="contact">
    <div class="inner">
        <section>
            <div class="box alt">
                <div class="row gtr-uniform">
                    <div class="col-12"><span class="image fit"><img src="{{ url_for('static', filename='img/bg.jpg') }}" alt=""></span></div>
                </div>
            </div>
        </section>
        <h2 class="major">Get in touch</h2>
        <p>Thank you for the message! I will be in touch shortly.</p>
    </div>
</section>
{% endblock %}